html, body {
    width: 100%
}

#currentTime {
    width: 100%;
    text-align: center;
    color: white;
    font: 4em sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
}

.slider {
    width: 88%;
}

body {
    background-color: black;
}

#visualization {
    float: left;
}

#control-panel {
    width: 45%;
    float: left;
}

#satellite-details {
    width: 48%;
    float: left;
    margin-right: 4%;
    clear: both;
}

#target-details {
    width: 48%;
    float: left;
}

dl {
    -webkit-margin-before: 0;
    color: white;
    font-family: sans-serif;
}

#time-control {
    width: 100%;
    clear: both;
}

dt {
    color: grey;
    clear: both;
    float: left;
    margin-bottom: 0.2em;
}

#time-control dt {
    margin-bottom: 0.6em;
}

dd {
    float: right;
    -webkit-margin-start: 0px;
}

#satellite-details dt:after, #target-details dt:after {
    content: ":";
}